@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&family=Poppins:ital,wght@0,300;0,500;0,700;1,400&family=Roboto:ital,wght@0,300;0,400;0,900;1,700&display=swap');

/* font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */
body {
    margin: 0;
    padding: 0;
}

section {
    width: 100%;
    overflow: hidden;
}

.d-flexible {
    display: flex;
}

.half-width {
    width: 50%;
}

.half-width-left {
    width: 45%;
}

.half-width-right {
    width: 55%;
}

.btn {
    text-decoration: none;
    padding: 14px 25px;
    border-radius: 30px;
    background-image: linear-gradient(to left, #14BAFC, #0388F6, #14BAFC);
    color: #fff;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 500;
    margin-top: 10px;
    display: inline-block;
    box-shadow: 0px 0px 42px -13px #0388F6;
    transition: .6s;
    background-size: 200%;
}

.btn:hover {
    background-position: right;
}

span {
    background: linear-gradient(90deg, #14BAFC, #0388F6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-area {
    padding: 50px 0 50px 0;
    border-top: 7px solid #0388F6;
}

.hero-item-left {
    padding: 110px 0 40px 80px;

}

.hero-item-left h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    margin: 0;
    font-weight: 700;
    color: #4e4e4e;
}

.hero-item-left p {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: gray;
    padding-right: 150px;
    line-height: 25px;
}

.hero-item-right img {
    width: 85%;
}

.about-area {
    background-image: url(img/about-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding: 139px 0;
}



.about-item-left img {
    width: 25%;
    position: absolute;
    bottom: 0;
    left: 13%;
    transform: scaleX(1);
    transition: .6s;
}

.about-item-left img:hover {
    transform: scaleX(.9);

}

.about-item-right {
    padding: 40px 0 40px 50px;
}

.about-item-right h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
    margin: 0;
    font-weight: 700;
    color: #4e4e4e;
}

.about-item-right p {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    padding-right: 160px;
    line-height: 25px;
    margin-bottom: 30px;
}

.recipies-area {
    text-align: center;
    padding: 60px 0;
}

.recipies-area h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
    margin-bottom: 30px;
    font-weight: 700;
    color: #4e4e4e;
}

.recipies-area-p {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 400;
    padding: 0 28%;
    line-height: 25px;

}

.recipies-items {
    padding: 20px 100px;
}

.recipy-item {
    padding: 30px;
    background-color: #fff;
    margin: 0 15px;
    box-shadow: 0 0 51px -18px #b7b4b4;
    border-radius: 30px;
    text-align: left;
}

.recipy-item img {
    width: 100%;
    transform: scale(1);
    transition: .6s;
}

.recipy-item img:hover {
    transform: scale(.9);
}

.recipy-item h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 0;
}

.recipy-item p {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.counter {
    background-image: url(img/counter.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px;
    position: relative;
    z-index: 1;
    margin-top: 90px;
    margin-bottom: 40px;
}

.counter:after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: .6;
    z-index: -1;
    width: 100%;
    height: 100%;

}

.counter:before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background-color: #000;
    opacity: .6;
    z-index: -1;
    width: 100%;
    height: 0;
    transition: .5s;
}

.counter:hover:before {
    opacity: .6;
    height: 100%;
}

.counter-item {
    width: 33.33%;

}

.counter-item h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 42px;
    font-weight: 700;
    color: #fff;
    margin: 0;
}

.counter-item p {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

footer {
    background-color: #0B0D17;
    padding: 35px 10px;
    text-align: center;
    color: #fff;
}

footer h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

footer p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}